<div class="container">
  <div class="left-panel">
    <mat-card>
        <h2 color="primary">Текущие настройки аккаунта</h2>
        <button mat-raised-button color="primary" class="end" (click)="fetchSettings()">Получить</button>


        <h2>Cостояния Аккаунта</h2>
        <button mat-raised-button color="primary" class="end" (click)="fetchStateInstance()">Получить</button>

        <h2>Отправить сообщение</h2>
        <form (ngSubmit)="sendMessage()">
          <mat-form-field appearance="fill">
            <mat-label>Номер WhatsApp</mat-label>
            <input matInput type="text" id="chatId" [(ngModel)]="chatId" name="chatId" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Сообщение</mat-label>
            <textarea matInput id="message" [(ngModel)]="message" name="message" rows="3" required></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Отправить</button>
        </form>

        <h2>Отправка файла ссылкой</h2>
        <form (ngSubmit)="sendFile()">
          <mat-form-field appearance="fill">
            <mat-label>Номер WhatsApp</mat-label>
            <input matInput type="text" id="chatIdFileU" [(ngModel)]="chatIdU" name="chatIdFileU" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Ссылька</mat-label>
            <input matInput type="text" id="urlFile" [(ngModel)]="urlFile" name="urlFile" required>
          </mat-form-field>
          <mat-form-field appearance="fill" >
            <mat-label>Имя файла</mat-label>
            <input matInput type="text" id="fileName" [(ngModel)]="fileName" name="fileName" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Подпись</mat-label>
            <textarea matInput id="caption" [(ngModel)]="caption" name="caption" rows="3"></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Отправить ссыльку</button>
        </form>
    </mat-card>
  </div>
  <div class="right-panel">
    <mat-card>
        <h1>Результат</h1>
        <div *ngIf="settings">
          <h2>Account Settings</h2>
          <pre>{{ settings | json }}</pre>
        </div>
        <div *ngIf="stateInstance">
          <h2>Account State</h2>
          <p>{{ stateInstance }}</p>
        </div>
        <div *ngIf="messageId">
          <h2>Sent Message ID</h2>
          <p>{{ messageId }}</p>
        </div>
        <div *ngIf="messageIdU">
          <h2>Sent Message ID</h2>
          <p>{{ messageIdU }}</p>
        </div>
    </mat-card>
  </div>
</div>
